
.slider {
    width: 100% !important;
}

.controlbox{
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: 5vw;
    top: 5vw;
    width: 20vw;
    background: rgba(182, 182, 182, 0.2);
    border: 1px solid rgba(86,61,124,.2);
    z-index: 2;
}



@media only screen 
    and (max-width: 800px) {
    .controlbox {
        top: 15vw;
        left: 10vw;
        width: 80vw;
    }
    .slider-handle {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    
    .slider.slider-horizontal {
        height: 30px !important;
    }
  }


  @media screen 
    and (orientation: landscape) 
    and (max-width: 800px) {
    .controlbox {
        top: 1vw;
        left: 15vw;
        width: 80vw;
    }

    .slider-handle {
        width: 25px !important;
        height: 25px !important;
        line-height: 25px !important;
    }
    
    .slider.slider-horizontal {
        height: 25px !important;
    }
  }

.background {
    height: 100vh;
    background: #777777
}

.controlButton {
    position: absolute; 
    left: 1rem; top: 1rem; z-index: 2;
}

.leaf_canvas {
    position: absolute; 
    left: 0; top: 0; z-index: 1;
}

.fractal_canvas {
    position: absolute; 
    left: 0; top: 0; z-index: 1;  
}

@import 'bootstrap-slider';
@import 'normalize'